:root {
    --sans-font: "Avenir Next";
    --ser-font: Bodoni;
}

body{
    background-color: #a6906b;

}
nav {
 height: 20vh;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-family: var(--sans-font);
    /*font-weight: bolder;*/
    font-variant-caps: small-caps;
    font-size: 34px;
    color: aliceblue;
}
.broken{
    max-width: 20%;
    /*max-height: 30%;*/
}

.broken-container{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    position: relative;
    height: 80vh;
    /*justify-content: space-evenly;*/
    /*flex-wrap: wrap;*/
}
#f4, #f4{
    /*transform: translateY(100%);*/
}

h1 {
    font-family: "Bodoni 72 Oldstyle";
    font-size: 58px;
    z-index: 1000;
    /*display: table-cell;*/
    /*text-align: center;*/
    color: #3d3b3b;
/*    position: absolute;*/
/*    top: 30vh;*/
/*    left: 50%;*/
    align-self: center;
    /*transform: translateX(-50%);*/
/*    width: 75vw;*/
/*    text-align: center;*/
/*    margin: 0;*/
/*    !*margin: 0;*!*/
/*    !*line-height: .9;*!*/
/*    !*margin-bottom: 22vw;*!*/
}
h2 {
    font-family: "Avenir Next";
    color: #3d3b3b;
    font-size: 38px;
    align-self: center;

    /*    position: absolute;*/
/*    top: 30vh;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    width: 75vw;*/
/*    text-align: center;*/
/*    margin-top: 10vh;*/
}

h3{
    font-family: "Avenir Next";
    color: #3d3b3b;
    align-self: center;
}

#f1{
    position: absolute;
    left: 26.3vw;
    top: -4vw;
    /*width: 14.2vw;*/
    z-index: -1000;
    width: 200px;
    opacity: 50%;
}

#f2{
    position: absolute;
    right: 18.3vw;
    top: 13vw;
    transform: scale(1.3);
    /*width: 14.2vw;*/
    z-index: -1000;
    width: 300px;
    opacity: 50%;
}

#f3{
    position: absolute;
    left: 15.3vw;
    top: 12vw;
    transform: scale(1.8) rotate(-15deg);
    /*width: 14.2vw;*/
    z-index: -1000;
    width: 300px;
    opacity: 50%;
}

section {
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;

}
p.about{
    width: 70%;
    align-self: center;
    font-family: "Avenir Next";
    font-size: larger;
    line-height: 1.5;
}
#p-cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
div .day{
    border: 1px solid black;
    width: 30vw;
    /*height: 80vh;*/
    display: table-cell;
    text-align: center;
}
div .day p, h4{
    width: 90%;
    margin: auto;
    display: block;
}

div .day h4{
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Bodoni 72 Oldstyle";

}

strong {
    display: block;
    /*padding-bottom: 10px;*/
}

section .orga{
    max-height: 100vh;
}

.orgacont{
    display: flex;
    width: 90vw;
    margin: auto;
}


.orgaitem {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

div .orgaitem p{
    /*width: 70%;*/
    padding-right: 10%;
    padding-left: 10%;
    margin: 0;
    /*font-family: "Bodoni 72 Oldstyle";*/
    font-family: "Avenir Next";
    font-size: 18px;
}
div .orgaitem img{
    width: 140px;
    height: 140px;
}
#spons {
    width: 100vw;
    display: flex;
    justify-content: center;

}

.sponsitem {
    padding: 5%;
    /*max-width: 20%;*/
    max-height: 140px;

}

.contactscont {
    display: flex;


}
.contitem {
    width: 50%;
    padding-left: 10%;
    align-self: center;
    font-family: "Avenir Next";
}
#about {
    padding-top: 20vh;
}
